{% extends 'galeria/base_page.html' %}
{% load static %}

{% block extra_head_content %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}
<section class="banner">
    <img class="banner-img" src="{% static 'assets/imagens/Banner(2).png' %}" alt="banner">
    <h1 class="banner-title">O portal de MMGD da UNIVESP</h1>
</section>

<section class="galeria">
    <div class="cards-container">
        <h2 class="cards-title">Navegue pelas visões</h2>
        <ul class="cards__lista">
            {% for card in cards %}
            <li class="card">
                <a href="{% url card.url card.id %}">
                    <img class="card__imagem" src="{% static card.imagem %}" alt="{{ card.nome }}">
                </a>
                <div class="card__info">
                    <p class="card__titulo">{{ card.nome }}</p>
                    <div class="card__texto">
                        <p class="card__descricao">{{ card.legenda }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}